.searchBar {
  margin: 30px;
  padding: 5px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  border: blue solid 3px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
}
